body {
    font-family: $font-family-main;
    color: $primary-color;
    margin: 0 10%;
    min-width: 320px;
}

a {
    color: $hyperlink-color
}

.container {
    background-color: $border-primary-container;
}

.code-preview {
    padding: 10px;
    margin: 15px 0px;
    font-family: $font-family-code;
    border: 3px solid $border-primary-container;
    border-radius: 29px 0;
    background: $dark_background;
    color: $dark_color;
}

footer {
    font-size: 0.8em;
    padding: 5px 0px;
    margin-bottom: 20px;
    border-top: 1px solid $border-primary-container;
    text-align: right;
}

code {
    color: $code-color;
}